<div class="p-d-flex p-ai-center p-jc-end p-mb-2">
  <p-button
    icon="pi pi-fw pi-plus"
    label="create"
    (click)="showDialog('1')"
  ></p-button>
</div>
<p-dialog
  [header]="addForm.value.id ? 'Update ' + addForm.value.name + '' : 'Create'"
  [closable]="false"
  [(visible)]="show"
  blockScroll="true"
  closeOnEscape="true"
  modal="true"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="p-fluid p-grid p-my-5">
      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <input type="text" id="inputName" pInputText formControlName="name" />
          <label for="inputName">Fill Tên</label>
        </span>
        <p>{{ addForm.get("name")?.errors | json }}</p>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <p-inputNumber
            type="number"
            min="0"
            formControlName="price"
            mode="currency"
            currency="VND"
          ></p-inputNumber>
          <label for="inputPrice">Fill Giá</label>
        </span>
        <p>{{ addForm.get("price")?.errors | json }}</p>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <p-inputNumber
            mode="decimal"
            [showButtons]="true"
            formControlName="quantityProduct"
            decrementButtonClass="p-button"
            incrementButtonClass="p-button"
            :min="0"
          ></p-inputNumber>
          <label for="inputQuan">Fill Số lượng</label>
        </span>
      </div>
      <div class="p-field p-col-12">
        <span class="p-float-label">
          <textarea
            pInputTextarea
            [rows]="5"
            [cols]="30"
            formControlName="description"
          ></textarea>
          <label for="inputDes">Fill Mô tả</label>
        </span>
      </div>
      <div class="p-d-flex p-jc-end" style="width: 100%">
        <p-button
          icon="pi pi-times"
          label="Cancel"
          class="p-button-secondary"
          (click)="cancel()"
        ></p-button>
        <p-button
          [disabled]="!addForm.valid"
          type="submit"
          class="p-ml-2"
          icon="pi pi-check"
          label="Save"
          styleClass="p-button-success"
        ></p-button>
      </div>
    </div>
    <pre>{{ addForm.value | json }}</pre>
    <pre>{{ addForm.status }}</pre>
  </form>
</p-dialog>
<p-toast></p-toast>
